.bestBurger {
  text-align: center;
  margin: 2rem;
  margin-top: 5rem;
}

.sectionTitle {
  margin-bottom: 2rem;
  font-weight: 700;
  color: var(--primary);
}

.wrapper {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
