@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #17b16d;
  --secondary: #1b1c21;
  --lightText: #4d4747;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--secondary);
  box-sizing: border-box;
}

button {
  width: fit-content;
  outline: none;
  border: none;
  padding: 0.8rem 1.3rem;
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 10%);
}

.justifyEnd {
  justify-content: flex-end;
}
